extends layout

block content
  div.row(ng-controller='MapController')
    .col-md-3
      .panel.panel-success
        .panel-heading Add Measurement
        .panel-body
          .alert.alert-warning(ng-show='failure')
            | Could not save
            button.close(ng-click='failure=false') &times;
          form(name='measurementForm', novalidate)
            .form-group
              label(for='type') Network type
              select(ng-options='type for type in types', ng-model='measurement.type', class='form-control')
            .form-group
              label(for='signal') Signal dBm {{measurement.signalDBm * 2 -113}} dBm
              input.form-control(type='range', min='0', max='31', name='signal', placeholder='Signal dBm', required='required', ng-model='measurement.signalDBm')
            .form-group
              label(for='wifis') Wifi APs {{measurement.wifiAPs}}
              input.form-control(type='range', name='wifis', min='0', max='100', placeholder='Wifi APs', required='required', ng-model='measurement.wifiAPs')
            input.btn.btn-info.pull-right(type='submit', ng-click='saveMeasurement()', value='Save', ng-disabled='!measurementForm.$valid')
            button.btn.btn-default.pull-left(ng-click='updateMarkerPosition()', type='button', value='Update Position') 
              | Update Position &nbsp;
              i.glyphicon.glyphicon-map-marker
      .panel.panel-info
        .panel-heading Settings
        .panel-body
          form(ng-submit='lookUpAddress()')
            .form-group(id='search')
              input.form-control(type='text', ng-model='search', placeholder='Search Location ...')
              i.glyphicon.glyphicon-search(id='search-icon')
        .panel-footer
          input(bs-switch ng-model='cellular' type='radio' switch-off-text='Wifi' switch-on-text='Cellular' switch-label='Type' switch-label-width='100' switch-handle-width='80')
          div(ng-show='cellular')
            .checkbox(ng-repeat='type in types')
                label
                  input(type='checkbox', name='selectedTypes[]', ng-checked='filterSelection.indexOf(type) > -1', ng-click='toggleFilterSelection(type)')
                  | {{type}}

          

    .col-md-9
      .well
        leaflet(layers='layers', center='center', width='100%', height='600', event-broadcast='events',  markers='markers', bounds='bounds')

