doctype html
html(lang='en', ng-app='ngn')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/lib/leaflet/leaflet.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='lib/jquery.min.js')
      script(src='http://maps.google.com/maps/api/js?v=3.2&sensor=false')
      script(src='lib/bootstrap/js/bootstrap.min.js')
      script(src='lib/leaflet/leaflet.js')
      script(src='lib/webgl-heatmap.js')
      script(src='lib/webgl-heatmap-leaflet.js')
      script(src='lib/angular.min.js')
      script(src='lib/angular-leaflet-directive.js')
      script(src='lib/google-leaflet.js')
      script(src='js/app.js')

      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='#') NGN-Sniffer
        ul.nav.navbar-nav
          li.active
            a(href="#", target="_blank") Map

    .container
      block content
